@model Student
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">

    <div class="contact-w3l">
        <div class="container">
            <h2 class="tittle">عضویت در انجمن</h2>
            <div class="contact-bottom">

            </div>

            <div class="col-md-12 contact-right cont">
                <div class="contct-info">
                    <h4>فرم ثبت نام</h4>
                    @using (Html.BeginForm("Register", "Student", FormMethod.Post))
                    {
                        <div class="row">
                            <div class="col-md-6 row-grid">
                                @Html.TextBoxFor(model => model.FirstName, new { placeholder = "نام" })
                            </div>
                            <div class="col-md-6 row-grid">
                                @Html.TextBoxFor(model => model.LastName, new { placeholder = "نام خانوادگی" })
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 row-grid">
                                @Html.TextBoxFor(model => model.NationalCode, new { placeholder = "کد ملی" })
                            </div>
                            <div class="col-md-6 row-grid">
                                @Html.TextBoxFor(model => model.BirthDate, new { placeholder = "تاریخ تولد" })
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 row-grid">
                                @Html.TextBoxFor(model => model.StudentNumber, new { placeholder = "شماره دانشجویی" })
                            </div>
                            <div class="col-md-6 row-grid">
                                @Html.TextBoxFor(model => model.CellPhone, new { placeholder = "موبایل" })
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 row-grid">
                                @Html.TextBoxFor(model => model.Email, new { placeholder = "ایمیل" })
                            </div>
                            <div class="col-md-6 row-grid">
                                @Html.TextBoxFor(model => model.Username, new { placeholder = "نام کاربری" })
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 row-grid">
                                @Html.TextBoxFor(model => model.Password, new { placeholder = "رمز عبور", type = "password" })
                            </div>
                            <div class="col-md-6 row-grid">
                                @Html.TextBoxFor(model => model.ConfirmPassword, new { placeholder = "تکرار رمز عبور", type = "password" })
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <input type="submit" value="ثبت نام">
                        <input type="reset" value="پاک کردن">
                    }
                </div>
            </div>
        </div>
    </div>

</div>

